:root {
  --blue: #15173c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-family: "Poiret One", cursive;
  width: 100%;
  background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
  background: linear-gradient(to right, #24d3d3, #22d686, #24d3d3);
  background-size: 700% 100%;
  -webkit-animation: HeroBG 20s ease infinite;
  animation: HeroBG 20s ease infinite;
  padding-top: 20px;
}

@-webkit-keyframes HeroBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes HeroBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.calculadorazzz {
  margin: auto;
  background-color: #15173c;
  color: white;
  width: 350px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.pantalla {
  grid-column: 1 / -1;
  background-color: #090c31;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: monospace;
  font-weight: 600;
  overflow: hidden;
}

.btn {
  background-color: #15173c;
  color: white;
  border: 0;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
  background: linear-gradient(to right, #22d686, #24d3d3, #22d686, #24d3d3);
  background-size: 600% 100%;
  -webkit-animation: HeroBG 5s ease infinite;
  animation: HeroBG 5s ease infinite;
}

#cero {
  grid-column: span 2;
}

#igual {
  grid-row: span 2;
  background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
  background: linear-gradient(to right, #22d686, #24d3d3, #22d686, #24d3d3);
  background-size: 600% 100%;
  -webkit-animation: HeroBG 5s ease infinite;
  animation: HeroBG 5s ease infinite;
}

#igual:hover {
  background-color: #3be699;
}
